
<html>

<head>
<link
	href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="style_sheet.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="../css/login_stylesheet.css" rel="stylesheet">
<link href="../css/navigation_stylesheet.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid" id="container-fuild-id">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">PolicyManagementSystem</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/login">Home</a></li>
					<li class="active"><a href="#">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li><a href="/register"><span
							class="glyphicon glyphicon-user"></span> Register</a></li>
					<li><a href="/login"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container-fluid" id="container-fuild-id">


		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-login">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-12">
									<h3>About Policy Management System</h3>
									<p>Being a good neighbor is about more than just being
										there when things go completely wrong. It's also about being
										there for all of life's moments when things go perfectly
										right.</p>

									<p>With a passion for serving customers and giving back in
										our communities, we've been doing well by doing good for
										almost 100 years. And we're happy you decided to get to know
										us better.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

